#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  --nutmeg: hsl(14, 45%, 36%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  background-color: var(--eggshell);
}

@font-face {
  font-family: 'Outfit'; /* Give a name to your font */
  src: url('../public/assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
      format('woff2'),
    /* Path to your font file */ url('./assets/fonts/YourFontFile.woff')
      format('woff'); /* Fallback for older browsers */

  font-weight: 400 600 700; /* The weight of the font */
  font-style: normal; /* The style of the font */
}

@font-face {
  font-family: 'Young Serif'; /* Give a name to your font */
  src: url(../public/assets/fonts/young-serif/YoungSerif-Regular.ttf)
      format('woff2'),
    /* Path to your font file */ url('./assets/fonts/YourFontFile.woff')
      format('woff'); /* Fallback for older browsers */
  font-weight: 400; /* The weight of the font */
  font-style: normal; /* The style of the font */
  font-size: 16px;
}

.recipe-card {
  padding: 2em;
  background-color: var(--white);
  border-radius: 20px;
  width: 70%;
  margin: 5em auto;
}

strong {
  font-weight: 650;
}

.divider-line {
  height: 0.6px;
  background-color: lightgray; /* Line color */
  border: none; /* Removes default border styling */
  margin: 20px 0; /* Adjust spacing around the line as needed */
}

h1,
h2 {
  font-family: Young Serif;
  font-weight: 100;
  text-align: left;
}
h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.75em;
}



h3,
p,
li,
table {
  font-family: Outfit;
  text-align: left;
}

/* Default text color */
p,
li {
  color: var(--wenge-brown);
}

#recipe-header-div {
  .recipe-photo {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
  }

  h1 {
    color: var(--dark-charcoal);
  }

  #intro-text {
    margin: 1em 0em 2em 0em;
  }

  #prep-time {
    background-color: var(--rose-white);
    display: flex;
    flex-direction: column;
    border-radius: 0.6em;

    .text-area {
      margin: 1.5em 2em 0.5em 1.5em;
      h3 {
        color: var(--dark-raspberry);
        margin: 0px;
      }
      ul {
        padding-left: 0.2em;
        li {
          list-style-type: '•';
          color: var(--dark-raspberry);
          margin-left: 0.6em;
          p {
            margin: 0px;
            margin-left: 1em;
            padding: 0px;
          }
        }
      }
    }
  }
}

/* Main section */
.main-section {
  h2 {
    color: var(--nutmeg);
    text-align: left;
    margin-bottom: 0em;
  }

  ol {
    padding: 0em;
  }

  margin: 1.5em 2em 0.5em 0em;
  ol {
    margin-left: 1em;
  }
}

ul,
ol {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;

  li {
    padding: 0.5em 0.5em 0.5em;
    margin-left: 0.3em;
  }
}

table {
  width: 100%;
  th {
    font-weight: normal;
    color: var(--wenge-brown);
  }
  td {
    color: var(--nutmeg);
  }
}

ul {
  padding-left: 1em;
  margin: 0.5em 0em 0.5em;
}

#ingredients {
  li {
    list-style-type: '•';
    color: var(--nutmeg);
    margin-left: -0.2em;
    p {
      margin: 0px;
      padding: 0px;
      color: var(--wenge-brown);
    }
  }
}

#instructions {
  li {
    font-weight: 700;
    color: var(--nutmeg);
    margin-left: 0.6em;
    p {
      font-weight: 300;
      margin: 0px;
      margin-left: 1em;
      padding: 0px;
      color: var(--wenge-brown);
    }
  }
}

table {
  border-collapse: collapse;
  border: none;
}
tr {
  border-bottom: 1px solid lightgray;
}

tr:last-child {
  border-bottom: none;
}

th {
  padding: 1em 1em 1em 2em;

}
td {
  padding: 1em 1em 1em 2em;

}

p {
  font-weight: 300;
}